@model List<StorySocialNetwork.Models.GroupModel>
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="groups_container">
    <div class="group">
        <div class="group_item group_header_item">Name</div>
        <div class="group_item group_header_item">Description</div>
        <div class="group_item group_header_item  stories_count_sort">Stories Count</div>
        <div class="group_item group_header_item users_count_sort">Users Count</div>
        <div class="cb"></div>
    </div>
    <div class="groups_row_container">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="group">

                <div class="group_item">@Model[i].Name</div>
                <div class="group_item">@Model[i].Description</div>
                <div class="group_item stories_count" count="@Model[i].StoriesCount">@Model[i].StoriesCount</div>
                <div class="group_item users_count" count="@Model[i].UsersCount">@Model[i].UsersCount</div>
                <div class="cb"></div>

            </div>
        }
    </div>
</div>
